/* taille de police des éléments :  onglet, admonitions et replié */

.md-typeset .admonition, .tabbed-set {
    font-size: 0.8rem;
}

.md-typeset details, details.tip *, details.check * {
  font-size: 0.8rem;
}

/*Personnalisation Titres, tableaux*/

.md-typeset h1 {
  color:#ee6639;}

.md-typeset h2 {
  color:#3854a8;}

.md-typeset h3 {
  color:#4f629d;}

.md-typeset h4 {
  font-weight: normal;
  color:#646e8f;}
  
.md-typeset thead{
  background-color:#f05b0bc1;
  font-size: 0.75rem;}
  
.md-typeset tbody{
  font-size: 0.7rem;}

  :root > * {
    --md-typeset-table-color: var(--main-theme);
}

/*Images centrées*/
.center {
  display: block;
  margin: 0 auto;
}
.screen {
  border: 1px solid var(--main-theme);
}

/* Indentation des éléments du menu de gauche, les changements dans la typo ne sont pas suffisants pour les rendre lisibles */
@media screen and (min-width: 76.25em) {
  [dir=ltr] .md-nav--primary .md-nav__list {
      padding-left: 1.6rem;
  }
  
  [dir=ltr] .md-nav--primary .md-nav__item--nested > .md-nav__link {
    color: #ee6639; /* Couleur du titre */
  }
  
  [dir=ltr] .md-nav--primary .md-nav__item--nested > .md-nav__list {
    padding-left: 1.6rem; /* Conserver l'indentation des sous-titres */
  }
}


/*.md-typeset h1 { text-align: center; }*/